.navigation-list-item-anchor {
    font-size: inherit;
    font-weight: normal;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
}
.navigation-list-item-anchor:visited {
    color: #ffffff;
}
.navigation-list-item-anchor:hover {
    color: #ffce00;
    font-weight: normal;
    background-color: inherit;
}
.navigation-list-item-anchor:focus {
    color: #ffce00;
}