.bg-navbar {
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #09d3ac;
    color: #282c34;
    margin-bottom: 10px;
}

.svg-icon path {
    transition: 250ms;
}

.svg-icon:hover path {
    fill: #292;
}

.svg-icon.hotel:hover path {
    fill: #49c;
}
